<div class="row">

    <div class="col-lg-9">
        <matches-graph></matches-graph>
    </div>
    <div class="col-lg-3">
        <time-to-next-round></time-to-next-round>
        <h3 class="clearfix">
            <span class="pull-left">{{numRounds}} <small>rounds</small></span>
            <span class="pull-right"><small><a href="#rounds">View all</a></small></span>
        </h3>
        <h3  class="clearfix">
            <span class="pull-left">{{numPlayers}} <small>players</small></span>
            <span class="pull-right"><small><a href="#players">View all</a></small></span>
        </h3>
        <h3 class="clearfix">
            <span class="pull-left">{{numMatches}} <small>matches</small></span>
        </h3>
    </div>

</div>
<div class="row">
    <div class="col-lg-4">
        <best-players num="50"></best-players>
    </div>
    <div class="col-lg-8">
        <last-matches num="50"></last-matches>
    </div>
</div>

